*py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Vim
.*.sw[op]

test/korail_idpw.txt
.idea
# 민감 정보 파일 무시
.env
local.properties
secret.properties

